<div id="<%= dom_id service %>">
  <p>
    <strong>Description:</strong>
    <%= service.description %>
  </p>

  <p>
    <strong>Beneficiary:</strong>
    <%= service.beneficiary_id %>
  </p>

  <p>
    <strong>Supplier:</strong>
    <%= service.supplier_id %>
  </p>
</div>
