<div class="col">
  <div class="card h-100">
    <div class="card-body">
      <h5><%= service.title.truncate(50) %></h5>
      <%= service.description.truncate(200) %>
      <%= service.id %>
    </div>
    <div class="card-footer d-flex justify-content-end">
      <%= link_to "Show this service", service, type: "button", class: "btn btn-info" %>
    </div>
  </div>
</div>
