<p style="color: green"><%= notice %></p>

<h1>Services</h1>
<div id="services" class="card border-0 bg-light pl-3 pr-3">
  <div class="card-body">
    <% @group_services.each_with_index do |five_service, index| %>
      <h2 class="mt-3"><%= @group_names[index] %></h2>
      <div class="row">
        <div class="col slider-container rounded">
          <% active = "active" %>
          <div class="row p-2 slider">
            <% five_service.each do |service| %>
              <div class="slider-card rounded">
                <%= render service %>
                <% active = "" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= link_to "New service", new_service_path %>

<script type="text/javascript">
  $('.carousel').carousel({
    interval: 3000;
  })
</script>
