<h1 class="text-muted">Services</h1>
<div id="services" class="card border-0 bg-light pl-3 pr-3">
  <div class="card-body">
    <% @group_services.each_with_index do |five_service, index| %>
      <h2 class="mt-3 text-muted"><%= @group_names[index] %></h2>
      <div class="row mb-4">
        <div class="col slider-container rounded">
          <% active = "active" %>
          <div class="row p-2 slider">
            <% five_service.each do |service| %>
              <div class="slider-card rounded">
                <%= render service %>
                <% active = "" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
