/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.slider-container {
  overflow-x: scroll!important;
  padding: 15px;
  background-color: #005192!important;
}

.slider {
  display: flex!important;
  flex-wrap: nowrap!important;
  padding: 10px!important;
}

.slider-card {
  flex: 0 0 300px!important;
  margin-right: 10px!important;
  height: 320px;
}

.slider-card .card {
  background-color: rgba(255, 255, 255, 0.7) !important;
}

a.link-card:hover {
  background-color: #fff!important;
  border-radius: .25rem;
}

